#descr{
    display: inline-block;
    text-align: justify;
    width: auto;
    margin-right: 20%;
    margin-top: 5vh;
    transform: translateX(10%) translateY(-10%);
}

.italiano{
    position:relative;
    top: 20px;
}

.español{
    position:relative;
    top: 40px;
}


#descr h2 {
    font-size: 25px;
}

#descr p {
    font-size: 13px;
}
