#contact{
    width:auto;
    text-align: center;
    font-size: 10px;
    margin-top: 1vh;
}

#contact p{
    font-size: 15px;
    font-style:initial;
}

.email a {
    position: relative;
    color: rgb(77, 77, 77);
}