#photo{
    margin-top:15vh;
    text-align: center;
    position: relative;
}

#photo img {
    width: 10%;
    height: 20%;
}

@media (min-width:480px){
    #photo {
        margin-top: 150px;
    }

    #photo img {
        width: 30%;
        height: 50%;
    }
}

@media (min-width:768px){
    #photo {
        height: auto;
    }
    #photo img {
        width: 30%;
        height: 45%;
    }
}

@media (min-width:1024px){
    #photo {
        top: 10vh
        height: auto;
        float: center;
    }

    #photo img {
        width: 20%;
        height: 30%;
    }
}