#header-uni{
    display: none;
}

.uni{
    position: fixed;
    top: 65px;
}

.uni p {
    display: block;
    color: #fff;
    height: 50px;
    margin-top: -10px;
    margin-left: 10px;
    text-decoration: none;
    font-size: 12px;
}